{{#menus}}
  <style>
    .{{menus.scopename}}{
      padding: 10px;
      background: {{{menus.colors.background}}};
    }
    .{{menus.scopename}} h2{
      font-size: 2rem;
      color: {{{menus.colors.h2}}};
      padding: 0;
      margin: 0 0 10px 0;
    }
    .{{menus.scopename}} ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .{{menus.scopename}} li{
      padding: 5px 0;
      font-size: 1.2rem;
    }
    .{{menus.scopename}} a{
      color: {{{menus.colors.a}}};
      text-decoration: none;
    }
  </style>
  <div class="{{menus.scopename}}">
    <h2>Menus:</h2>
    <ul>
      {{#menus.listing}}
        <li id="{{id}}"><a href="{{link}}">{{{text}}}</a></li>
      {{/menus.listing}}
    </ul>
  </div>  
{{/menus}}
